{% comment %}
Tabla de facturas con todos los estados (para factura_list.html)
Parámetros:
  - facturas: lista de facturas
{% endcomment %}

<div class="table-responsive">
    <table class="table table-hover mb-0">
        <thead class="table-light">
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cliente</th>
                <th scope="col">Tipo</th>
                <th scope="col">Total</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
                {% include 'facturacion/includes/fila_factura.html' with factura=factura mostrar_todos_estados=True %}
            {% endfor %}
        </tbody>
    </table>
</div>
