# Configuración de Base de Datos Neon PostgreSQL
# Reemplaza esta URL con tu URL de conexión de Neon
DATABASE_URL=

# Configuración de Django
DEBUG=True
SECRET_KEY=

# Configuración de Email (opcional)
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=