{% extends 'components/form_editar_base.html' %}
{% load static %}

{% with page_title="Editar Impuesto" card_title="Editar Impuesto"|add:": "|add:object.nombre breadcrumb_active="Editar Impuesto" cancel_url="/catalogos/impuestos/" submit_text="Actualizar Impuesto" %}

{% block breadcrumb_items %}
{% include 'catalogos/includes/breadcrumb_catalogos.html' with section_url='catalogos:impuestos_lista' section_name='Impuestos' %}
{% endblock %}

{% block form_fields %}
{% include 'catalogos/includes/impuestos_form_fields.html' %}
{% endblock %}

{% endwith %}
