{% extends 'components/form_crear_base.html' %}
{% load form_helpers %}
{% load static %}

{% with page_title="Crear Impuesto" card_title="Crear Nuevo Impuesto" breadcrumb_active="Crear Impuesto" cancel_url="/catalogos/impuestos/" submit_text="Guardar Impuesto" %}

{% block breadcrumb_items %}
{% include 'catalogos/includes/breadcrumb_catalogos.html' with section_url='catalogos:impuestos_lista' section_name='Impuestos' %}
{% endblock %}

{% block form_fields %}
<div class="row">
    <div class="col-md-6">
        {% render_field form.codigo %}
    </div>
    <div class="col-md-6">
        {% render_field form.tipo_impuesto %}
    </div>
</div>

{% render_field form.nombre %}

<div class="row">
    <div class="col-md-6">
        {% include 'components/field_with_suffix.html' with field=form.porcentaje suffix='%' %}
    </div>
    <div class="col-md-6">
        {% render_field form.activo %}
    </div>
</div>
{% endblock %}

{% endwith %}
