{% extends 'components/lista_base.html' %}

{% with page_title='Impuestos' breadcrumb_active='Impuestos' card_title='Gestión de Impuestos' create_url='catalogos:impuestos_crear' create_button_text='Nuevo Impuesto' item_name='impuesto' item_name_plural='impuestos' empty_message='Comienza agregando los impuestos que utilizarás en tu sistema contable.' create_first_text='Crear Primer Impuesto' table_id='tabla-impuestos' %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'catalogos:index' %}">Catálogos</a></li>
{% endblock %}

{% block header_icon %}percent{% endblock %}

{% block filtros %}
{% include 'catalogos/includes/filtros_catalogo.html' with filtro_tipo_options=tipo_impuesto_options table_id='tabla-impuestos' %}
{% endblock %}

{% block table_headers %}
<th scope="col">Código</th>
<th scope="col">Nombre</th>
<th scope="col">Tipo</th>
<th scope="col">Porcentaje</th>
<th scope="col">Estado</th>
<th scope="col">Acciones</th>
{% endblock %}

{% block table_body %}
{% for impuesto in object_list %}
<tr data-tipo="{{ impuesto.tipo_impuesto }}" data-activo="{{ impuesto.activo }}">
    <td><strong>{{ impuesto.codigo }}</strong></td>
    <td>{{ impuesto.nombre }}</td>
    <td>
        <span class="badge 
            {% if impuesto.tipo_impuesto == 'IVA' %}bg-primary
            {% elif impuesto.tipo_impuesto == 'ICA' %}bg-info
            {% elif impuesto.tipo_impuesto == 'RETEFUENTE' %}bg-warning
            {% elif impuesto.tipo_impuesto == 'RETEIVA' %}bg-success
            {% elif impuesto.tipo_impuesto == 'RETEICA' %}bg-secondary
            {% else %}bg-dark{% endif %}">
            {{ impuesto.get_tipo_impuesto_display }}
        </span>
    </td>
    <td><strong>{{ impuesto.porcentaje }}%</strong></td>
    <td>
        {% if impuesto.activo %}
            <span class="badge bg-success">Activo</span>
        {% else %}
            <span class="badge bg-danger">Inactivo</span>
        {% endif %}
    </td>
    <td>
        {% include 'catalogos/includes/acciones_lista.html' with item=impuesto detail_url=impuesto.get_absolute_url edit_url=impuesto.get_edit_url delete_url=impuesto.get_delete_url item_name=impuesto.nombre %}
    </td>
</tr>
{% endfor %}
{% endblock %}

{% endwith %}
