{% extends 'components/form_crear_base.html' %}
{% load static %}

{% with page_title="Crear Impuesto" card_title="Crear Nuevo Impuesto" breadcrumb_active="Crear Impuesto" cancel_url="/catalogos/impuestos/" submit_text="Guardar Impuesto" %}

{% block breadcrumb_items %}
{% include 'catalogos/includes/breadcrumb_catalogos.html' with section_url='catalogos:impuestos_lista' section_name='Impuestos' %}
{% endblock %}

{% block form_fields %}
{% include 'catalogos/includes/impuestos_form_fields.html' %}
{% endblock %}

{% endwith %}
