{% extends 'base_contable.html' %}
{% load static %}
{% load form_helpers %}

{% block title %}Editar Método de Pago - S_CONTABLE{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'catalogos:index' %}">Catálogos</a></li>
        <li class="breadcrumb-item"><a href="{% url 'catalogos:metodos_pago_lista' %}">Métodos de Pago</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar Método de Pago</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0">
                        <i class="bi bi-pencil"></i>
                        Editar Método de Pago: {{ object.nombre }}
                    </h4>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        
                        {% render_form_errors form %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {% render_field form.codigo %}
                            </div>
                            
                            <div class="col-md-6">
                                {% render_field form.tipo_metodo %}
                            </div>
                        </div>
                        
                        {% render_field form.nombre %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {% render_field form.requiere_referencia %}
                            </div>
                            
                            <div class="col-md-6">
                                {% render_field form.activo %}
                            </div>
                        </div>
                        
                        <!-- Campo empresa oculto -->
                        <div style="display: none;">
                            {{ form.empresa }}
                        </div>
                        
                        <hr>
                        
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'catalogos:metodos_pago_lista' %}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i>
                                Cancelar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-check-circle"></i>
                                Actualizar Método de Pago
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'components/form_bootstrap_classes.html' %}
{% endblock %}
