{% extends 'components/form_editar_base.html' %}
{% load form_helpers %}

{# Variables de contexto #}
{% load static %}
{% with page_title="Editar Método de Pago" card_title="Editar Método de Pago"|add:": "|add:object.nombre breadcrumb_active="Editar Método de Pago" cancel_url="/catalogos/metodos-pago/" submit_text="Actualizar Método de Pago" %}

{% block breadcrumb_items %}
{# These <li> items are rendered inside <ol class="breadcrumb"> from the parent template #}
<li class="breadcrumb-item"><a href="{% url 'catalogos:index' %}">Catálogos</a></li> <!-- NOSONAR -->
<li class="breadcrumb-item"><a href="{% url 'catalogos:metodos_pago_lista' %}">Métodos de Pago</a></li> <!-- NOSONAR -->
{% endblock %}

{% block form_fields %}
<div class="row">
    <div class="col-md-6">
        {% render_field form.codigo %}
    </div>
    
    <div class="col-md-6">
        {% render_field form.tipo_metodo %}
    </div>
</div>

{% render_field form.nombre %}

<div class="row">
    <div class="col-md-6">
        {% render_field form.requiere_referencia %}
    </div>
    
    <div class="col-md-6">
        {% render_field form.activo %}
    </div>
</div>
{% endblock %}

{% endwith %}
