{% extends 'components/form_crear_base.html' %}
{% load static %}

{% with page_title="Crear Método de Pago" card_title="Crear Nuevo Método de Pago" breadcrumb_active="Crear Método de Pago" cancel_url="/catalogos/metodos-pago/" submit_text="Guardar Método de Pago" %}

{% block breadcrumb_items %}
{% include 'catalogos/includes/breadcrumb_catalogos.html' with section_url='catalogos:metodos_pago_lista' section_name='Métodos de Pago' %}
{% endblock %}

{% block form_fields %}
{% include 'catalogos/includes/metodos_pago_form_fields.html' %}
{% endblock %}

{% endwith %}
