{% extends 'base_contable.html' %}

{% block title %}Lista de Facturas - S_CONTABLE{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    {% include 'facturacion/includes/header_facturas.html' %}

    <div class="row mb-4">
        <div class="col-12">
            {% include 'facturacion/includes/filtros_busqueda.html' with action_url='facturacion:factura_list' %}
        </div>
    </div>

    <!-- Facturas Activas (Confirmadas) -->
    <div class="row mb-4">
        <div class="col-12">
            {% regroup object_list by estado as facturas_por_estado %}
            {% include 'facturacion/includes/seccion_facturas.html' with titulo='Facturas Activas (Pendientes de Pago)' icono='fas fa-file-invoice' border_class='border-info' header_class='bg-info' estado_filtro='confirmada' estado_badge_class='bg-info' estado_text='Activa' total_class='text-primary' btn_class='btn-outline-info' mensaje_vacio='No hay facturas activas pendientes de pago.' icono_vacio='fas fa-check-circle' facturas_por_estado=facturas_por_estado %}
        </div>
    </div>

    <!-- Facturas Pagadas -->
    <div class="row">
        <div class="col-12">
            {% include 'facturacion/includes/seccion_facturas.html' with titulo='Facturas Pagadas' icono='fas fa-check-double' border_class='border-success' header_class='bg-success' estado_filtro='pagada' estado_badge_class='bg-success' estado_text='Pagada' total_class='text-success' btn_class='btn-outline-success' mensaje_vacio='No hay facturas pagadas aún.' icono_vacio='fas fa-money-bill-wave' facturas_por_estado=facturas_por_estado %}
        </div>
    </div>
</div>
{% endblock %}
