{% comment %}
Breadcrumb reutilizable para páginas de catálogos
Uso:
    {% include 'catalogos/includes/breadcrumb_catalogos.html' with section_url='catalogos:impuestos_lista' section_name='Impuestos' %}

NOTA: Los <li> se renderizan dentro de <ol class="breadcrumb"> del template padre.
SonarCloud reporta falso positivo porque analiza archivos aislados sin contexto de Django template inheritance.
{% endcomment %}
<li class="breadcrumb-item"><a href="{% url 'catalogos:index' %}">Catálogos</a></li>
<li class="breadcrumb-item"><a href="{% url section_url %}">{{ section_name }}</a></li>
